h1{
    text-align: center;
    font-family: monospace;
    font-size: 60px;
}
body{
    background-image: url(fondo.webp);
    background-size: cover;
}
p{
     font-family: monospace;
    font-size: 20px; 
}
h2{
        text-align: center;
    font-family: monospace;
    font-size: 30px;
}